.container > div{
    border: 1px solid #000;
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 150px 50px;
}