:root{
    --cor-padrao: red;
    --tamanho-de-fonte-padrão: 20px;
}

h2{
    color: var(--cor-padrão, red);
    font-size: var(--tamanho-de-fonte-padrão, 20px);
}

h3{
    color: var(--cor-padrão, red);
    font-size: var(--tamanho-de-fonte-padrão, 20px);
}

p{
    color: var(--cor-padrão, red);
    font-size: var(--tamanho-de-fonte-padrão, 20px);
}

span {
    color: var(--cor-padrão, red);
    font-size: var(--tamanho-de-fonte-padrão, 20px);
}